#notesedits {

    padding:10px;
}

#color_picker{
    list-style-image: none;
    float:right;
    margin:0 auto;
    width:250px

}

#color_picker_box {
    margin: 5px 0px;

}

#color_picker li{
    display: inline;
    margin: 0px 6px;
}

input {
    
    width: 80%;
}

textarea {
    width:100%;
    height: 140px;
}

.clrflt {
    clear: both;
}

#singlenoteview {
    height: 600px;
    overflow:auto;
}

#singlenoteview h2{
    margin:0px;
    padding:0px;
    margin: 0;
    text-align: center;

}

#navbar_singlenoteview {
    margin: 2px 0px;
}

#noteslist {
    height: 560px;
    overflow:auto;
}

ul#icons {

margin:0;
padding:5px;
}

ul#icons li {
     float: left;
     margin: 0 4px;
     list-style: none;
}

.list-item-icon-note{
    width:32px;
    height:32px;
    float:left;
    background-image: url('../pics/view-pim-notes_32.png');
    margin-right: 15px;
    margin-top: 10px;
}

.list-item-icon-appoint{
    width:32px;
    height:32px;
    float:left;
    background-image: url('../pics/view-calendar-workweek_32.png');
    margin-right: 15px;
    margin-top: 10px;
}

.list-item-icon-todo{
    width:32px;
    height:32px;
    float:left;
    background-image: url('../pics/view-pim-tasks-pending_32.png');
    margin-right: 15px;
    margin-top: 10px;
}

.list-item-icon-dflt {
    width:32px;
    height:32px;
    float:left;
    background-image: url('../pics/knotes_32.png');
    margin-right: 15px;
    margin-top: 10px;
}

.list-item {
    margin: 2px;
    padding:7px;
}

.list-item:hover {
    background-color: gray;
    background-image: none;
    border: 4px white solid;
}


.list-item h2{
    /*float: left;*/
    margin-bottom:0px;
}

.list-item-bgcolor {
    width: 260px;
    height: 5px;
    clear: both;
    margin: 0 auto;
}
