#notesedits {

    padding:10px;
}

#color_picker{
    list-style-image: none;
    float:right;
    margin:0 auto;
    width:250px

}

#color_picker_box {
    margin: 5px 0px;

}

#color_picker li{
    display: inline;
    margin: 0px 6px;
}

input {
    
    width: 80%;
}

textarea {
    width:100%;
    height: 140px;
}

.clrflt {
    clear: both;
}

#singlenoteview {
    height: 600px;
    overflow:auto;
}

#singlenoteview h2{
    margin:0px;
    padding:0px;
    margin: 0;
    text-align: center;

}

#navbar_singlenoteview {
    margin: 2px 0px;
}

#noteslist {
    height: 400px;
    overflow:auto;
}

ul#icons {

margin:0;
padding:5px;
}

ul#icons li {
     float: left;
     margin: 0 4px;
     list-style: none;
}

.list-item-icon{
    width:32px;
    height:32px;
    float:left;
    background-image: url('../pics/knotes_32.png');
    margin-right: 15px;
    margin-top: 10px;
}

.list-item {
    margin: 2px;
    padding:7px;
}

.list-item:hover {
    background-color: gray;
    background-image: none;
    border: 4px white solid;
}


.list-item h2{
    /*float: left;*/
    margin-bottom:0px;
}

.list-item-bgcolor {
    width: 260px;
    height: 5px;
    clear: both;
    margin: 0 auto;
}

div#new_note_menu ul, li {
    margin:0;
    padding:0;
    list-style:none;
}

.the_menu {
    display:none;
    width:150px;
    border: 1px solid #1c1c1c;
    position: absolute;
    z-index:3;
    background-color: #626262;
    
}

.the_menu li {
    background-color: #626262;

}
 
.the_menu li a {
    color:#FFFFFF;
    text-decoration:none;
    padding:10px;
    display:block;
    float:left;
}
 
.the_menu li a:hover {
    padding:10px;
    font-weight:bold;
    color: #E78C09;
}
