/* Tag cloud */
	#tags ul{
		margin:1em 0;
		padding:.5em 10px;
		text-align:center;
		background:#262626;		
		}
	#tags li{
		margin:0;
		padding:0;
		list-style:none;
		display:inline;
		}
	#tags li a{
		text-decoration:none;
		color:#fff;
		padding:0 2px;	
		}
	#tags li a:hover {	
		color:#626262;
		}		
	
	.tag1{font-size:50%;}
	.tag2{font-size:70%;}
	.tag3{font-size:90%;}
	.tag4{font-size:100%;}
	.tag5{font-size:120%;}
	.tag6{font-size:140%;}
	.tag7{font-size:170%;}
	.tag8{font-size:200%;}
	.tag9{font-size:230%;}
	.tag10{font-size:250%;}
	
	/* alternative layout */

	#tags .alt{
		text-align:left;
		padding:0;
		background:none;
		}
	#tags .alt li{
		padding:2px 10px;
		background:#262626;
		display:block;
		}
	#tags .alt .tag1, 
	#tags .alt .tag2, 
	#tags .alt .tag3, 
	#tags .alt .tag4, 
	#tags .alt .tag5,
	#tags .alt .tag6,
	#tags .alt .tag7,
	#tags .alt .tag8,
	#tags .alt .tag9,
	#tags .alt .tag10{font-size:100%;}
	#tags .alt .tag1{background:#7cc0f4;}
	#tags .alt .tag2{background:#7cc0f4;}
	#tags .alt .tag3{background:#7cc0f4;}
	#tags .alt .tag4{background:#7cc0f4;}
	#tags .alt .tag5{background:#7cc0f4;}
	#tags .alt .tag6{background:#7cc0f4;}
	#tags .alt .tag7{background:#67abe0;}
	#tags .alt .tag8{background:#4d92c7;}
	#tags .alt .tag9{background:#3277ad;}
	#tags .alt .tag10{background:#266ca2;}
	
	.btn{display:block;}
	
/* // Tag cloud */
#tag_cloud {  
    background-color:#000000; text-align:center; padding:5px;  
    overflow:auto; font-size:70%; font-family:arial;  
  }  
 #tag_cloud h2 {  
   color:#ffffff; font-size:2.5em; margin:0 0 10px 0;  
   background:url(images/cloud.gif) no-repeat 0; padding:15px 0 15px 80px;  
 }  
 #tag_list { margin:0; padding:0; }  
 #tag_list li {  
   list-style-type:none; float:left; margin:0 10px; height:35px;  
 }  
 #tag_list li a { text-decoration:none; color:#ffffff; }  
 #tag_list li a:hover ( text-decoration:underline; }  

