/* Tag cloud */
	#tags ul{
		margin:1em 0;
		padding:.5em 10px;
		text-align:center;
		background:#71b5e9 url(bg_tags.gif) repeat-x;		
		}
	#tags li{
		margin:0;
		padding:0;
		list-style:none;
		display:inline;
		}
	#tags li a{
		text-decoration:none;
		color:#fff;
		padding:0 2px;	
		}
	#tags li a:hover {	
		color:#cff400;
		}		
	
	.tag1{font-size:50%;}
	.tag2{font-size:70%;}
	.tag3{font-size:90%;}
	.tag4{font-size:100%;}
	.tag5{font-size:120%;}
	.tag6{font-size:140%;}
	.tag7{font-size:170%;}
	.tag8{font-size:200%;}
	.tag9{font-size:230%;}
	.tag10{font-size:250%;}
	
	/* alternative layout */

	#tags .alt{
		text-align:left;
		padding:0;
		background:none;
		}
	#tags .alt li{
		padding:2px 10px;
		background:#efefef;
		display:block;
		}
	#tags .alt .tag1, 
	#tags .alt .tag2, 
	#tags .alt .tag3, 
	#tags .alt .tag4, 
	#tags .alt .tag5,
	#tags .alt .tag6,
	#tags .alt .tag7,
	#tags .alt .tag8,
	#tags .alt .tag9,
	#tags .alt .tag10{font-size:100%;}
	#tags .alt .tag1{background:#7cc0f4;}
	#tags .alt .tag2{background:#7cc0f4;}
	#tags .alt .tag3{background:#7cc0f4;}
	#tags .alt .tag4{background:#7cc0f4;}
	#tags .alt .tag5{background:#7cc0f4;}
	#tags .alt .tag6{background:#7cc0f4;}
	#tags .alt .tag7{background:#67abe0;}
	#tags .alt .tag8{background:#4d92c7;}
	#tags .alt .tag9{background:#3277ad;}
	#tags .alt .tag10{background:#266ca2;}
	
	.btn{display:block;}
	
/* // Tag cloud */
